
<div class="container">
	<div class="row">

		<h1>Auther: <%= @auther %></h1>

		<div class="books-div">
		 <% @books.each do |book| %>
			<div class="book">
			<%= link_to book.title, book %> <br />
			 <%=  truncate( book.description , length:15)%><br />
			</div>
			<% end %>
		</div>

	</div>
</div>