
<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    
  </div>
  <div class="row">
      <h3>Categories:</h3>
      <div class="category"> 
        <% @categories.each do |category| %>
        <div class="category-tile">
          
          <%=  link_to category.name , category_path(category) , :class => "category_icon" %>
          </div>
      <% end %>
      </div>
  </div>

 
  <div class="row ">
    <h3>Books:</h3>
    <div class="books-div">
     
      <% @books.each do |book| %>
        <div class="book-show">
           <%= link_to image_tag(book.image , style: "width:100%;height:100%;") , book_path(book) %>
         </div>
      <% end %>
  </div>
  </div>
<br>


</div>